@import "colors";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	width: 100vw;
	height: 100vh;
	padding: 20px 5%;
	background: $primaryDark !important;
}


.hover:hover {
	cursor: pointer;
	transition: all 0.2s;
}

.download-button {
	position: sticky !important;
	top: 20px;
	z-index: 1000;

	display: flex;
	justify-content: flex-end;

	.download-button-icon {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		padding: 0;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		background: #ffffff;

		display: flex;
		justify-content: center;
		align-items: center;


		&:hover {
			cursor: pointer;
			opacity: 0.8;
			transition: all 0.2s;
		}

		&:active {
			opacity: 0.6;
			transition: all 0.2s;
		}
	}
}


.ant-menu-item {

	&:hover {
		transform: scale(1.05);
		transition: all 0.2s;
	}
}


:where(.css-dev-only-do-not-override-zcfrx9).ant-modal .ant-modal-content {
	background-color: transparent !important;
	padding: 0 !important;
	padding-top: 25px !important;
}


.App :where(h1, h2, h3, h4, h5, h6, span, a, p, b, button, li) {
	color: $primaryText !important;
}


:where(svg) {
	fill: $primaryText;
}


.PDF span {
	display: none !important;
	color: #000000 !important;
}

.result-and {
	:where(button) {
		width: 180px;
		height: 50px;
		background: #ef0454;
		border: none;
		font-weight: 600;
		color: #ffffff !important;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
			background: #ef0454 !important;
			transform: scale(1.05);
			transition: all 0.2s;

		}
	}

	:where(svg) {
		fill: #13c472 !important;

	}
}

:where(.theme-btn) {
	&:hover {
		cursor: pointer;
		opacity: 0.8 !important;
		transform: scale(1.05) !important;
		transition: all 0.2s !important;
	}
}