.footer {
    width: 100vw;
    display: flex;
    justify-content: center;

    #media {
        width: 100%;
        text-align: center;
        a {
            margin-bottom: 15px;
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;
        }
    }

    .footer__copyright small {
        width: 100%;
        text-align: center;
    }
}