.section {
    position: relative;
    width: 80%;

    h2 {
        padding-left: 30px;
        font-weight: 600;
        line-height: 47px;
        size: 36px;
        color: #444;
    }

    h4 {
        font-family: 'Roboto', sans-serif;
        color: #444;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            width: 30px;
            height: 30px;
            background: #2F79D0;
            border-radius: 100%;
            margin-right: 10px;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    ul {
        list-style: none;
    }
    p {
        font-weight: 300;
        line-height: 23px;
        size: 16px;
        font-style: normal;
        padding-left: 40px;
 
    }
}