.nose {
    width: 100%;
    // height: 80vh;
    background: #2F79D0;
    display: flex;
    justify-content: center;
    align-items: center;

    .center-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .left {
        width: 100%;
        padding-top: 50px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        .circle {
            padding-left: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 500px;
            }
        }

        h1 {
            text-align: center;
            color: rgb(255, 255, 255);
            font-family: 'Roboto', Times, serif;
            font-weight: bold;
        }

        .list {
            width: 100%;
            padding: 0 20px;
            // background: rgba(148, 66, 66, 0.425);

            display: flex;
            justify-content: center;

            ul {
                list-style: none;
                font-family: 'Roboto', Times, serif;
                font-size: 14px;

                li {
                    // width: 300px;
                    text-transform: capitalize;
                    font-family: 'Roboto', Times, serif;
                    font-size: 16px;
                    color: white;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    span {
                        width: 40px;
                        height: 40px;
                        color: #2F79D0;
                        background: rgb(255, 255, 255);
                        border-radius: 100%;
                        margin: 10px;
                        font-weight: bold;
                        font-size: 14px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }

        .circle {
            width: 100%;

            display: flex;
            justify-content: center;
        }
    }

    .right {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            color: rgb(255, 255, 255);
            font-family: 'Roboto', Times, serif;
            font-weight: bold;
        }

        .wallet {
            width: 100%;
            margin-top: 20px;

            display: flex;
            justify-content: center;

            img {
                width: 260px;
                position: relative;
                margin-bottom: 5px;
            }
        }

        .address {
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                width: 260px;
                height: 35px;
                border: none;
                background: rgba(144, 99, 99, 0.438);

                font-size: 10px;
                padding: 10px;
            }

            i {
                width: 100px;
                margin-left: 5px;
                color: #444;

            }

            span {
                // width: 260;
                color: rgb(255, 255, 255);
                font-size: 10px;
                font-weight: 500;
                // background: rgba(0, 0, 0, 0.109);
                padding: 10px;
                border-radius: 5px;
                margin-top: 10px;
                text-align: center;
                margin-bottom: 10px;

                :hover {
                    cursor: pointer;
                }

                :active {
                    color: #2F79D0;
                }
            }

            you p {
                margin: 0px 25px;
                padding: 10px 10px;
                width: 90%;
                color: rgb(231, 207, 70);
                font-size: 16px;
                text-align: center;
            }
        }
    }
}